<div class="container" ng-controller="authenticationCtrl">
  <div class="row">

    <div class="page-header">
      <h1>Music Tastes <small><a href="http://www.facebook.com/balmasi" target="_blank">by Borna</a></small> 
        <button type="button" class="btn btn-primary btn-large" data-ng-show="!logged" data-ng-disabled="!facebookReady" data-ng-click="IntentLogin()">Login with Facebook</button>
        <button type="button" class="btn btn-danger btn-large" data-ng-show="logged" data-ng-disabled="!facebookReady" data-ng-click="logout()">Logout</button>
      </h1>  
      
    </div>

    <div>
      <div class="alert alert-info" data-ng-show="salutation">Hello, {{user.name}}</div>
      <div class="alert alert-warning" data-ng-show="byebye">Bye bye :'(</div>
    </div>


    
    <button type="button" class="btn btn-large" data-ng-show="logged" data-ng-disabled="!facebookReady" data-ng-click="getFriendsLikes()">Get Friends</button>

    <div>
      <progressbar value="percentDone"></progressbar>
      <ol ng-show="top10Calculated">
        <li ng-repeat="user in top10 track by $index">
          <h4><img src="{{user.friend_pic}}"/>{{user.friend_name}}</h4>
          <ul>
            <li ng-repeat="artist in user.common">
              {{artist[1]}}
            </li>
          </ul>
        </li>
      </ol>
    </div>

  </div>
</div>