<div class="jumbotron">
    <button type="button" class="btn btn-danger pull-right"
            data-ng-show="auth.logged"
            data-ng-disabled="!facebookReady"
            data-ng-click="logout()">
        Logout
    </button>
  <h2>Welcome to Music Tastes!</h2>
  <p class="lead">
    Before we get started, we need to analyze your Facebook friends' music likes.
  </p>
    <button type="button" class="btn btn-lg btn-primary"
            data-ng-hide="auth.logged"
            data-ng-disabled="!facebookReady"
            data-ng-click="login()">
        Login with Facebook
    </button>
</div>